.container {
  position: absolute;
  top: 0;
  left: 50px;
  padding-top: 5px;
}
.highscore-table {
  height: 100%;
  width: 80%;
}
.mat-column-score {
  width: 20%;
  text-align: center;
}
.mat-column-index {
  width: 20%;
}

.first-place {
  background-color: gold;
  color: black;
}
.second-place {
  background-color: silver;
  color: black;
}
.third-place {
  background-color: #cd7f32;
  color: black;
}
.rest {
  background-color: rgb(255, 255, 255);
  color: black;
}
