<div class="container">
  <h1 class="greeting">Welcome to Tetris! {{ displayUserData.playerName }}</h1>
  <div class="game-stats">
    <div class="column" id="game-status">
      <h3 class="game-stats-text">
        Game Status: <br />
        <a id="gameStatusText">{{ displayStatistics.gameMessage }}</a>
      </h3>
    </div>
    <div class="column">
      <h3 class="game-stats-text">
        Game Score: <a id="gameScoreText">{{ displayStatistics.gameScore }}</a>
      </h3>
    </div>
    <div class="column">
      <h3 class="game-stats-text">
        Time Played:
        <a id="gameTimeValue">{{ displayStatistics.timePlayed }}</a>
      </h3>
    </div>
  </div>
</div>
