#main {
  width: auto;
}
#greeting {
  position: absolute;
  color: rgb(157, 219, 12);
  text-align: left;
  position: relative;
  width: auto;
}
#userName {
  position: relative;
  color: rgb(13, 124, 221);
  text-align: left;
  position: absolute;
  width: auto;
}
#gameStats {
  position: absolute;
  top: 30%;
}
