.container {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  margin: 0;
}

.game-stats {
  position: absolute;
  top: auto;
  display: flex;
  min-width: 100%;
}

.column {
  min-width: 33.3%;
  text-align: center;
  padding: 35px;
  color: white;
}

.greeting {
  padding-top: 10px;
  font-family: "Varela Round";
  text-align: center;
  color: rgb(255, 255, 255);
  min-width: 100%;
  height: fit-content;
  margin: 15px;
  font-size: 50px;
}
.game-stats-text {
  font-size: 30px;
}
#game-status {
  padding: 20px;
}
