.container {
  position: absolute;
  top: 0;
  left: 50px;
  padding-top: 5px;
  min-width: 70%;
  max-width: 80%;
  display: flex;
  flex-direction: column;
  max-height: 95%;
}

.action-table {
  display: block;
  overflow-y: auto;
}
.mat-column-button {
  width: 20%;
}
.mat-column-index {
  width: 20%;
}
.mat-column-time {
  width: 20%;
  text-align: center;
}
